---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import marshall from "../assets/images/marshall.jpg";
import amp from "../assets/images/amp.jpg";
import headphones from "../assets/images/headphones.jpg";
import rack from "../assets/images/rack.jpg";
import layout1 from "../assets/images/04-layout1.png";
import layout2 from "../assets/images/04-layout2.png";
import layout3 from "../assets/images/04-layout3.png";
import layout4 from "../assets/images/04-layout4.png";
---

<MainLayout title="Marshall history">
  <article class="grid mx-auto container gap-8 pt-8 prose">
    <h1>The story of Marshall</h1>

    <h2>1923 From Hospital Beds to Drum Beats</h2>

    <p>
      Jim Marshall, born in London on July 29, 1923, battled tubercular bones as
      a child, spending much time hospitalized until age 13. Encouraged by his
      father, he took up tap dancing to strengthen his legs, discovering a
      musical talent. Transitioning to drums in the late 1930s, Jim played
      semi-professionally before becoming a teacher.
    </p>

    <Image src={marshall} alt="Marshall logo on speaker" />

    <hr />

    <h2>1960 The sound of Marshall was born</h2>

    <p>
      Jim Marshall opened 'Jim Marshall and Son' music store in 1960, quickly
      becoming a hotspot for budding musicians like Pete Townshend and Ritchie
      Blackmore. Recognizing the needs of young rock musicians, Marshall became
      a leading amplifier supplier. Dissatisfied with existing options, Jim and
      Terry Marshall crafted their own amplifiers, drawing on their diverse
      musical backgrounds to create the distinctive Marshall Sound.
    </p>

    <Image src={amp} alt="Marshall amp" />

    <hr />

    <h2>1962 Number one</h2>

    <p>
      The first amplifier now known as ‘Number One’ was born and due to great
      interest went into production under the aptly named JTM45, standing for
      Jim & Terry Marshall. It attracted 23 orders on its first day in store in
      September 1962 and would become the first of many JTM45 amps. The '45'
      stands for the RMS (root mean square) value, which differed from the other
      manufacturers who rated their amps at peak power
    </p>

    <Image src={rack} alt="Marshall rack in music setup" />

    <hr />
    <h2>1964 Scaling Up</h2>
    <p>
      Due to the amplifiers' success, Jim and Terry expanded with a second shop
      at 93 Uxbridge Road. However, demand surpassed supply, leading to the
      opening of Marshall's first factory on Silverdale Road in June 1964. In
      1965, Pete Townshend's request for a louder sound led to the creation of
      the Marshall 8x12" speaker cabinet, later replaced by the iconic Marshall
      Stack, marking a pivotal moment in Marshall's history.
    </p>
    <hr />
    <h2>1966 Marshall Goes Global</h2>
    <p>
      In 1966, Mitch Mitchell, a former student of Jim Marshall, joined forces
      with the relatively unknown American guitarist Jimi Hendrix. At a gig
      where the venue wouldn't make space for the band's amp, Hendrix played
      through Marshall stacks. Impressed, he asked Mitchell for an introduction
      to "the person who shared his name." This marked Marshall's international
      breakthrough.
    </p>
    <hr />
    <h2>1967 A Strategic Shift</h2>
    <p>
      In 1967, outgrowing the Hanwell shops and Hayes factory, Marshall
      relocated to Bletchley. Initially offered a site in Rugby, Jim found
      Bletchley more suitable due to skilled workers, reasonable rent, central
      distribution, and proximity to London. Bletchley has since remained
      Marshall's home.
    </p>
    <hr />
    <h2>1981 Lzzy Hale's Choice</h2>
    <p>
      Our legendary JCM800 launched in 1981 found fame with its bold new look
      and aggressive modern sound. With lower production costs, this amp was
      affordable for young bands starting out in the punk or heavy metal genre.
      Today, our JCM800 re-issue is a favourite of Lzzy Hale, the frontwoman of
      hard rock band Halestorm.
    </p>
    <hr />
    <h2>1987-2007 Milestone Celebrations</h2>
    <p>
      In 1987, we marked 25 years in the amplifier business and Jim's 50-year
      milestone in the music industry by introducing the stylish Silver Jubilee
      amplifiers. Adorned with silver vinyl cladding and chrome-plated panels,
      these amps remain highly coveted today. In 1997, celebrating Marshall's
      35th anniversary, we launched the renowned DSL range. Additionally, a
      limited run of white vinyl amps was released, with only 250 units
      produced. A decade later, in 2007, we unveiled our flagship JVM series,
      featuring multi-channel capability and versatile tonal options.
    </p>
    <hr />
    <h2>2010 Marshall's Expansion</h2>
    <p>
      In 2010, Marshall expanded into the headphones market, introducing the
      Major and Minor models featuring the iconic white script logo and durable
      design. These headphones, available in various styles with ANC and voice
      technology, have enjoyed immense success, broadening Marshall's product
      range.<br />
      <br />The same year, Marshall welcomed Natal Percussion Company to its
      family. Originating from British percussionist Alan Sharp's innovative
      instruments in the late 1950s, Natal became renowned for its fibreglass
      construction and rounded hoops, setting the standard in percussion. Over
      the years, Natal expanded its product line to include drum kits and
      various percussion instruments, attracting musicians like Jamie Morrison
      and Jordan Pugh.
    </p>

    <Image src={headphones} alt="black Marshall headphones" />
    <h2>2012-2016 Tribute and Innovation</h2>
    <p>
      In 2012, Marshall celebrated its remarkable 50-year milestone by releasing
      1 Watt heads and combos, a tribute to its iconic creations. The occasion
      was marked with a star-studded concert at Wembley Arena, honoring the late
      Jim Marshall. Expanding into new markets, Marshall introduced a line of
      music speakers named after significant locations in its history, featuring
      vintage-inspired design and advanced sound technology.<br />
      <br /> In 2016, Marshall launched the CODE, a digital amp offering a wide range
      of sound options and professional-quality models. Additionally, Marshall Records
      was established to support young musicians, signing talented bands like Nova
      Twins and Therapy?.
    </p>
    <hr />
    <h2>2021-now Empowering Musicians and Innovating the Industry</h2>
    <p>
      In 2021, Marshall Live Agency was introduced to provide support for
      artists, crew, and promoters in the live music industry. Coupled with the
      launch of a state-of-the-art recording studio, Marshall continues to
      empower musicians to create exceptional music. <br />
      <br />Here at Marshall we’re proud of our history but we’re only just
      getting started. You may have noticed that we’ve released new products,
      refreshed our look, added new features to our website, all to realise our
      vision to support the next generation of musicians and music lovers.
      Marshall are defined as innovators and we will continue to push the
      boundaries of possibility to help inspire you to find your sound.
    </p>
    <hr />
    <!-- 
    <div class="grid grid-cols-2 gap-4">
      <Image src={layout1} alt="" />
      <Image src={layout2} alt="" />
      <Image src={layout3} alt="" />
      <Image src={layout4} alt="" />
    </div>
    -->
    <hr />
  </article>
</MainLayout>
